.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px; 
    grid-gap: 10px;
}

.item1 {
    
    background-image: url("./assets/picture1.jpg") ;
  

    grid-column: 1 / span 2;
    grid-row: 1/span 2;

    background-size: cover;

}
.item2 {
    background-image: url("./assets/picture2.jpg");

    grid-column: 3 / span 2;
    grid-row: 1 /span 2;

    background-size: cover;

}
.item3 {
    background-image: url("./assets/picture3.jpg");
    grid-column: 5 ;
    grid-row: 1;

    background-size: cover;

}
.item4 {
    background-image: url("./assets/picture4.jpg");
    grid-column: 5;
    grid-row:2;

    background-size: cover;

}
.item5 {
    background-image: url("./assets/picture5.jpg");
  

}
.item6 {
    background-image: url("./assets/picture6.jpg");
  

}
.item7 {
    background-image: url("./assets/picture7.jpg");
  

}
.item8 {
    background-image: url("./assets/picture8.jpg");
  

}
.item9 {
    background-image: url("./assets/picture9.jpg");
  

}
.item10 {
    background-image: url("./assets/picture10.jpg");
  

}


