.grid-container {
    display: grid;
    grid-template-columns:  1fr 200px 2fr 1fr ;
    grid-template-rows: 100px 1fr 1fr 200px; 
    grid-gap: 10px;
    height: 100vh;
}

.item1 {
    
    background-image: url("./assets/picture1.jpg") ;
  

    grid-column: 1 / span 2;
    grid-row: 1/span 2;

    background-size: cover;

}
.item2 {
    background-image: url("./assets/picture2.jpg");

    grid-column: 3 ;
    grid-row: 1 /span 2;

    background-size: cover;

}
.item3 {
    background-image: url("./assets/picture3.jpg");
    grid-column: 4 ;
    grid-row: 1;

    background-size: cover;

}
.item4 {
    background-image: url("./assets/picture4.jpg");
    grid-column: 4;
    grid-row:2;

    background-size: cover;

}
.item5 {
    background-image: url("./assets/picture5.jpg");
    grid-column: 1;
    grid-row: 3;

    background-size: cover;

}
.item6 {
    background-image: url("./assets/picture6.jpg");
    grid-column: 2;
    grid-row: 3;
    background-size: cover;


}
.item7 {
    background-image: url("./assets/picture7.jpg");
    grid-column: 3;
    grid-row: 3;
    background-size: cover;


}
.item8 {
    background-image: url("./assets/picture8.jpg");
    grid-column: 4;
    grid-row: 3/span 2;
    background-size: cover;


}
.item9 {
    background-image: url("./assets/picture9.jpg");

    grid-column: 1 /span 2;
    grid-row: 4;
    background-size: cover;


}
.item10 {
    background-image: url("./assets/picture10.jpg");
    grid-column: 3;
    grid-row: 4;
    background-size: cover;

}


